Objects/
1.uvguix.l

1.uvoptx
1.uvguix.l
1.uvoptx
1.uvguix.l
*.l
*.uvoptx
*.l
*.uvoptx

!*.c   
!*.h  
   *.log  
   *.plg  
   *.bak  
   *.dep  
   *.uvgui.*  
   JLinkLog.txt  
   *.o  
   *.d  
   *.crf  
   *.tra  
   *.axf  
   *.hex  
   *.lnp  
   *.sct  
   *.__i  
   *.htm  
JLinkLog.txt
JLinkLog.txt
*.map
1.uvguix.sheng
